<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.error.handler">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity
            android:name="com.error.handler.UCEDefaultActivity"
            android:process=":error_activity"
            android:screenOrientation="portrait">
        </activity> <!-- uses-library -->
    </application>

</manifest>